@using CommonDLL.DTO;
@model CommonDLL.DTO.LoginDTO
@if (Model != null)
{
<div style="position: absolute; right: 9%;">
        <span><b>@Model.Username </b></span>
</div>
}
else
{ 
   <div> User is null  </div>
}


