@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>About This Website</h2>
<p>
    This website is a simple ASP.NET MVC project designed to demonstrate navigation, layout, and user-friendly design.
    It includes essential pages such as Home, Login, About, and Contact, Person Account and Transaction sensuring a seamless user experience.
</p>
<p>
    The goal of this project is to showcase fundamental web development skills, including  SQL, HTML, CSS, Bootstrap, Javascript
    and ASP.NET MVC framework for building structured and maintainable applications.
</p>
<p>
    
    <h3>Experience</h3>

    Junior Software Developer | ALMAR Container Group | October 2021 – Present

    Expertise in Microsoft SQL Server, database design, and optimization.
    Developed and maintained web applications using C#, JavaScript, HTML, and CSS.
    Worked with ASP.NET MVC, .NET Core, Angular, and Entity Framework.
    Used Git, SourceTree, and Azure DevOps for version control.
    Integrated APIs, JSON, and WCF services for data exchange.
    Developed reports using DevExpress and implemented security best practices.

    <h3>  Key Skills</h3>

    Programming: C#, JavaScript, VB Script
    Web Technologies: ASP.NET MVC, Angular, jQuery, Ajax
    Database: Microsoft SQL, Entity Framework
    Tools & Services: SSIS, SSRS, Git, FTP, Visual Studio, Azure
    Others: Data Security, Unit Testing, Mobile Development (Xamarin), WPF

    <h3>Projects</h3>
    Aspire Client & Aspire: E-commerce and container tracking system for ALMAR.
    Cargo Portal: Image storage and retrieval system for container inspections using APIs.
</p>