@{
    ViewBag.Title = "Contact Page";
}
<h2>@ViewBag.Title.</h2>
<p>
    📍 Name: Zethembe Myeni
    <br />
    📍 Location: Durban, KwaZulu-Natal, South Africa
    <br />
    📞 Phone: 072 432 7202
    <br />
    📧 Email: Zethembemyeni16@gmail.com
</p>